# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
.venv/
venv/
env/

# Database
db.sqlite3

# Environment variables
.env

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Static & media
media/
staticfiles/

# Coverage
.coverage
htmlcov/

# Logs
*.log