<section class="content-form-section" aria-labelledby="content-information-heading">
  <h3 class="content-form-section-title" id="content-information-heading">Información del contenido</h3>

  {% include 'cinetrack/includes/contenido_form_basic_fields.html' %}
  {% include 'cinetrack/includes/contenido_form_summary_field.html' %}
</section>

<section class="content-form-section content-form-section-vision" aria-labelledby="viewing-information-heading">
  <h3 class="content-form-section-title" id="viewing-information-heading">Información de visionado</h3>

  {% include 'cinetrack/includes/contenido_form_viewing_fields.html' %}
</section>
