/* ==== BADGES ==== */
/* Tipo (Película / Serie) */
.badge.tipo {
  background: linear-gradient(135deg, #9b5cfb, #6f3fe6); /* tu morado de marca */
  color: #fff;
  font-weight: 700;
}

/* Plataforma */
.badge.plataforma {
  background-color: #00b4d8;
  color: #fff;
  font-weight: 700;
}

/* Estado */
.badge.estado-vista {
  background-color: #ff9914;  /* verde vivo */
  color: #fff;
  font-weight: 700;
}
.badge.estado-pendiente {
  background-color: #dc3545;  /* rojo coral */
  color: #fff;
  font-weight: 700;
}

/* Búsqueda */
.badge.busqueda {
  background: #5f0f40;
  color: #fff;
}

/* Calificación */
.badge.cal-excelente {
  background-color: #2b9348;  /* verde oscuro */
  color: #fff;
  font-weight: 700;
}
.badge.cal-buena {
  background-color: #80b918;  /* verde lima */
  color: #fff;
  font-weight: 700;
}
.badge.cal-regular {
  background-color: #bfd200;  /* amarillo verdoso */
  color: #000;
  font-weight: 700;
}
.badge.cal-mala {
  background-color: #d4d700;  /* amarillo */
  color: #000;
  font-weight: 700;
}
.badge.cal-horrible {
  background-color: #ffff3f;  /* amarillo chillón */
  color: #000;
  font-weight: 700;
}
